.row {
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 800px;
}

.square {
  width: 100px;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 100px; 
}
.light {
  background-color: #f0d9b5;
}

.dark {
  background-color: #b58863;
}
.container {
  margin-top: 10vh;
}

.has-piece:active,
.has-piece:focus {
  box-shadow: 0 0 20px #46f301; /* adjust the color as needed */
}
    
